repos:
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.14.1
  hooks:
  - id: mypy
    entry: bash -c "poetry run mypy ."
    language: system
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
  - id: ruff-format
    args: [ --check ]