name: docker

on:
  push:
    tags: ["v*"]
  release:
    types: ["published"]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest
          driver-opts: "image=moby/buildkit:v0.10.5"
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ene-docker.iiasa.ac.at
          username: ixmp-server-workflow-build-user
          password: ${{ secrets.NEXUS_PASSWORD }}
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Write release version
        run: |
          VERSION_TAG=${GITHUB_REF_NAME#v}
          echo Docker Image Version: $VERSION_TAG
          echo "VERSION_TAG=$VERSION_TAG" >> $GITHUB_ENV
      - if: github.event_name == 'release'
        name: Build and push latest
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            POETRY_OPTS=--with server
          tags: ene-docker.iiasa.ac.at/ixmp4-server:latest,ene-docker.iiasa.ac.at/ixmp4-server:${{env.VERSION_TAG}}
      - if: github.event_name != 'release'
        name: Build and push dev
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            POETRY_OPTS=--with server
          tags: ene-docker.iiasa.ac.at/ixmp4-server:dev,ene-docker.iiasa.ac.at/ixmp4-server:${{env.VERSION_TAG}}
