# copied from https://github.com/marketplace/actions/install-poetry-action
name: publish

on:
  push:
    tags: ["v*"]
  release:
    types: ["published"]

jobs:
  publish:
    strategy:
      matrix:
        python-version:
        - "3.10"  # Earliest version supported by ixmp4
        - "3.11"  # Latest version supported by ixmp4

    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      #----------------------------------------------
      #       check-out repo and set-up python
      #----------------------------------------------
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      #----------------------------------------------
      #  -----  install & configure poetry  -----
      #----------------------------------------------
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: Install poetry dynamic versioning plugin
        run: poetry self add "poetry-dynamic-versioning[plugin]"
      - name: Build package
        run: poetry build
      - if: github.event_name == 'release'
        name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
      - if: github.event_name != 'release'
        name: Publish distribution to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
